* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #091921;
}

.clock > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.clock > .container > .real-clock {
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./../images/clock.png);
  background-size: cover;
  border: 10px solid #091921;
  border-radius: 50%;
  -webkit-box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.03), inset 0 15px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.03), inset 0 15px 15px rgba(0, 0, 0, 0.03);
}

.clock > .container > .real-clock::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 10000;
}

.clock > .container > .real-clock > .hour, .clock > .container > .real-clock > .min, .clock > .container > .real-clock > .sec {
  position: absolute;
}

.clock > .container > .real-clock > .hour, .clock > .container > .real-clock > .hour > .hr {
  width: 160px;
  height: 160px;
}

.clock > .container > .real-clock > .min, .clock > .container > .real-clock > .min > .mn {
  width: 190px;
  height: 190px;
}

.clock > .container > .real-clock > .sec, .clock > .container > .real-clock > .sec > .sc {
  width: 230px;
  height: 230px;
}

.clock > .container > .real-clock > .hour > .hr, .clock > .container > .real-clock > .min > .mn, .clock > .container > .real-clock > .sec > .sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.clock > .container > .real-clock > .hour > .hr::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.clock > .container > .real-clock > .min > .mn::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.clock > .container > .real-clock > .sec > .sc::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 150px;
  background-color: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
/*# sourceMappingURL=style.css.map */